<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>1</string>
		<key>siteName</key>
		<string>NSHipster</string>
		<key>siteURL</key>
		<string>http://nshipster.com</string>
	</dict>
	<dict>
		<key>id</key>
		<string>1</string>
		<key>siteName</key>
		<string>CocoaControls</string>
		<key>siteURL</key>
		<string>https://www.cocoacontrols.com</string>
	</dict>
	<dict>
		<key>id</key>
		<string>1</string>
		<key>siteName</key>
		<string>Appcoda</string>
		<key>siteURL</key>
		<string>http://www.appcoda.com</string>
	</dict>
	<dict>
		<key>id</key>
		<string>1</string>
		<key>siteName</key>
		<string>Raywenderlich</string>
		<key>siteURL</key>
		<string>http://www.raywenderlich.com</string>
	</dict>
</array>
</plist>
